.ScrollArea {
  position: relative;
  overflow: hidden;
}

.ScrollArea_viewport {
  position: relative;
  overflow: auto;
  height: 100%;
}

.ScrollArea_content {
  min-height: 100%;
  box-sizing: border-box;
}

.ScrollArea_scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 8px;
  padding: 4px 2px;
  box-sizing: border-box;
}

.ScrollArea_thumb {
  position: absolute;
  width: 4px;
  background-color: var(--scrollbar-thumb);
  border-radius: var(--radius-full);
  cursor: grab;
  transition: background-color var(--transition-fast);
}

.ScrollArea_thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

.ScrollArea_thumb:active {
  background-color: var(--scrollbar-thumb-active);
  cursor: grabbing;
}