.Slider {
  display: inline-flex;
  align-items: center;
  width: 200px;
}

.Slider_control {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
}

.Slider_track {
  position: relative;
  background: var(--ref-palette-light-3);
  border-radius: 10px;
  height: 6px;
  width: 100%;
  overflow: hidden;
}

.Slider_indicator {
  position: absolute;
  background: var(--sys-color-bg-accent);
  height: 100%;
}

.Slider_thumb {
  appearance: none;
  background: var(--ref-palette-light-1);
  border: 2px solid var(--sys-color-bg-accent);
  border-radius: 50%;
  cursor: grab;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  transition: box-shadow var(--ref-transition-fast);
}

.Slider_thumb:hover {
  box-shadow: 0 0 0 4px var(--ref-focus-ring-color);
}

.Slider_thumb:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--ref-focus-ring-color);
}

.Slider_thumb:focus-visible {
  outline: var(--ref-focus-ring-width) solid var(--ref-focus-ring-color);
  outline-offset: var(--ref-focus-ring-offset);
}

.Slider_thumb[data-dragging] {
  cursor: grabbing;
}