.Tooltip_trigger {
  display: inline-flex;
}

.Tooltip_positioner {
  z-index: var(--ref-z-index-tooltip);
}

.Tooltip_popup {
  background: var(--sys-color-bg-overlay);
  border-radius: var(--ref-radius-md);
  color: var(--sys-color-fg-primary);
  font-size: var(--ref-font-size-xs);
  padding: var(--ref-spacing-2) var(--ref-spacing-3);
  box-shadow: var(--ref-shadow-md);
}

.Tooltip_arrow {
  fill: var(--sys-color-bg-overlay);
}