/* Base */

[theme="dark"] {
  color-scheme: dark;
}

:root {
  * {
    overflow: hidden;
  }
}

body {
  user-select: none;

  * {
    display: flex;
    flex-direction: column;
  }
}

::selection {
  background-color: var(--color-bg-selection);
}

/* Components */

.icon {
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  aspect-ratio: 1;
}

.a,
.link,
.button,
.summary,
.input,
.textarea,
.select,
.contenteditable {
  &:focus-visible {
    outline: var(--field-outline-width) solid var(--color-bg-selection);
    outline-offset: calc(var(--field-outline-width) * -1);
  }
}
/* a,
button,
summary,
[contenteditable="true"],
[tabindex="0"],
input,
select,
textarea {
} */

.app {
  display: flex;
  flex-direction: row;

  height: 100vh;
  /* min-height: 100vh; */

  background-color: var(--color-bg-primary);

  font: var(--font-text);
  color: var(--color-fg-primary);
}

.sidebar {
  background-color: var(--color-bg-secondary);

  &[variant="push"] {
    width: var(--sidebar-width);
    flex-shrink: 0;

    &:not([visible]) {
      margin-left: calc(var(--sidebar-width) * -1);
    }
  }

  &[variant="overlay"] {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--sidebar-width);
    z-index: var(--hierarchy-sidebar);
    transform: translateX(-100%);
    /* transition: transform 0.3s ease; */

    ~ .backdrop {
      position: fixed;
      inset: 0;
      background: var(--color-bg-backdrop);
      z-index: var(--hierarchy-backdrop-hidden);
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
    }

    &[visible] {
      transform: translateX(0);

      ~ .backdrop {
        z-index: var(--hierarchy-backdrop);
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  > .menu {
    flex-direction: row;

    flex-basis: var(--titlebar-height);

    > * {
      padding-block: var(--page-whitespace);
    }

    .button_search,
    .button_hamburger {
      flex-basis: var(--titlebar-height);
    }

    .name {
      align-items: center;
      justify-content: center;

      flex: 1;

      font: var(--font-heading);
    }
  }

  > .list,
  > .hamburger {
    /* margin-block: var(--page-whitespace); */

    /* display: block; */

    * {
      /* width: 100%; */

      padding-block: calc(var(--page-whitespace) / 2);
      padding-inline: var(--page-whitespace);
    }
  }

  > .list {
    overflow-y: auto;
    > * {
      flex-shrink: 0;
    }

    * {
      &:hover,
      &:focus-visible,
      &[focus] {
        background-color: var(--color-bg-tertiary);
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;

  > .titlebar {
    flex-direction: row;

    flex-basis: var(--titlebar-height);

    button {
      flex-basis: var(--titlebar-height);
    }

    > .title {
      flex: 1;
    }
  }

  > .workspace {
    flex-direction: row;
    flex: 1;

    > .panel {
      display: flex;
      flex-direction: column;

      flex: 1;

      > .title {
        margin-block: calc(var(--page-whitespace) / 2);
        margin-inline: var(--page-whitespace);
      }

      > .process {
        flex: 1;

        overflow-y: auto;
        > * {
          flex-shrink: 0;
        }

        > .item {
          > .title {
            flex-direction: row;

            > * {
              padding: var(--page-whitespace);
            }

            > .name {
              flex: 1;
            }
          }

          > .args {
            margin: var(--page-whitespace);

            > .arg {
              flex-flow: row wrap;

              > .name {
                flex-grow: 1;
              }
            }
          }
        }
      }

      > .input,
      > .output {
        flex: 1;

        > * {
          padding: var(--page-whitespace);
        }
      }
    }
  }
}

.textarea {
  padding: var(--page-whitespace);

  flex: 1;
  flex-basis: 100%;
  min-height: var(--size-8);

  overflow: auto;

  font: var(--font-code);
}

.radio {
  flex-basis: 100%;

  > .item {
    flex-direction: row;

    padding: var(--page-whitespace);

    > .label {
      flex: 1;
    }
  }
}

.table {
  overflow: auto;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  > .table_content {
    display: table;

    border-collapse: collapse;

    .thead {
      display: table-header-group;
    }

    .tbody {
      display: table-row-group;
    }

    .tr {
      display: table-row;
    }

    .td,
    .th {
      display: table-cell;

      min-width: var(--size-4);
    }

    /* .th {
      position: sticky;
    } */
  }
}
