:root {
  --palette-gray-50: oklch(99% 0 0);
  --palette-gray-100: oklch(97.7% 0 0);
  --palette-gray-200: oklch(92.6% 0 0);
  --palette-gray-300: oklch(85.6% 0 0);
  --palette-gray-400: oklch(77.1% 0 0);
  --palette-gray-500: oklch(67.5% 0 0);
  --palette-gray-600: oklch(56.9% 0 0);
  --palette-gray-700: oklch(45.3% 0 0);
  --palette-gray-800: oklch(33% 0 0);
  --palette-gray-850: oklch(26% 0 0);
  --palette-gray-900: oklch(19.8% 0 0);
  --palette-gray-950: oklch(13% 0 0);
  --palette-success: #78e9ab;
  --palette-warning: #ffc252;
  --palette-error: #ff938c;
  --color-bg-backdrop: color-mix(
    in srgb,
    var(--palette-gray-950) 30%,
    transparent
  );
  --color-bg-tooltip: var(--palette-gray-900);
  --color-bg-hover: color-mix(
    in srgb,
    var(--color-bg-tertiary) 50%,
    transparent
  );
  --color-bg-click: var(--color-bg-tertiary);
  --color-fg-tooltip: white;
  --spacing-0\.5: 0.125rem;
  --spacing-1: 0.25rem;
  --spacing-1\.5: 0.375rem;
  --spacing-2: 0.5rem;
  --spacing-2\.5: 0.625rem;
  --spacing-3: 0.75rem;
  --spacing-3\.5: 0.875rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-44: 11rem;
  --spacing-48: 12rem;
  --spacing-52: 13rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-96: 24rem;
  --max-width-none: none;
  --max-width-xs: 20rem;
  --max-width-sm: 24rem;
  --max-width-md: 28rem;
  --max-width-lg: 32rem;
  --max-width-xl: 36rem;
  --max-width-2xl: 42rem;
  --max-width-3xl: 48rem;
  --max-width-4xl: 56rem;
  --max-width-5xl: 64rem;
  --max-width-6xl: 72rem;
  --max-width-7xl: 80rem;
  --max-width-prose: 65ch;
  --max-width-full: 100%;
  --max-width-min: min-content;
  --max-width-max: max-content;
  --max-width-fit: fit-content;
  --max-width-screen-sm: 640px;
  --max-width-screen-md: 768px;
  --max-width-screen-lg: 1024px;
  --max-width-screen-xl: 1280px;
  --max-width-screen-2xl: 1536px;
  --typeface-sans: Roboto, Adwaita Sans, Ubuntu Sans, Noto Sans, sans-serif;
  --typeface-serif: EB Garamond, Noto Serif, serif;
  --typeface-monospace: Fira Code, Adwaita Mono, Ubuntu Mono, monospace;
  --text-xs: 0.75rem/1rem;
  --text-sm: 0.875rem/1.25rem;
  --text-base: 1rem/1.5rem;
  --text-lg: 1.125rem/1.75rem;
  --text-xl: 1.25rem/1.75rem;
  --text-2xl: 1.5rem/2rem;
  --text-3xl: 1.875rem/2.25rem;
  --text-4xl: 2.25rem/2.5rem;
  --text-5xl: 3rem/1;
  --text-6xl: 3.75rem/1;
  --text-7xl: 4.5rem/1;
  --text-8xl: 6rem/1;
  --text-9xl: 8rem/1;
  --icon-xs: 0.75rem;
  --icon-sm: 0.875rem;
  --icon-base: 1rem;
  --icon-lg: 1.125rem;
  --icon-xl: 1.25rem;
  --icon-2xl: 1.5rem;
  --icon-3xl: 1.875rem;
  --icon-4xl: 2.25rem;
  --icon-5xl: 3rem;
  --icon-6xl: 3.75rem;
  --icon-7xl: 4.5rem;
  --icon-8xl: 6rem;
  --icon-9xl: 8rem;
  --font-heading: bold var(--text-lg) var(--typeface-sans);
  --font-text: var(--text-base) var(--typeface-sans);
  --font-code: var(--text-sm) var(--typeface-monospace);
  --radius-none: 0px;
  --radius-xs: 2px;
  --radius-sm: 2px;
  --radius-base: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;
  --radius-4xl: 32px;
  --radius-full: 9999px;
  --border-0: 0px;
  --border-1: 1px;
  --border-2: 2px;
  --border-4: 4px;
  --border-8: 8px;
  --hierarchy-backdrop-hidden: -200;
  --hierarchy-backdrop: 200;
  --hierarchy-sidebar: 400;
  --hierarchy-dialog: 600;
  --hierarchy-popup: 800;
  --hierarchy-tooltip: 1000;
  --hierarchy-graph-grid: -200;
  --hierarchy-graph-range: 200;
  --hierarchy-graph-line: 400;
  --hierarchy-graph-axis: 500;
  --hierarchy-graph-point: 600;
  --hierarchy-graph-label: 1000;
  --field-outline-width: var(--border-2);
}

:root,
[theme="light"],
[data-theme="light"] {
  --color-bg-primary: var(--palette-gray-50);
  --color-bg-secondary: var(--palette-gray-200);
  --color-bg-tertiary: var(--palette-gray-300);
  --color-fg-primary: var(--palette-gray-800);
  --color-fg-secondary: var(--palette-gray-800);
  --color-fg-tertiary: var(--palette-gray-800);
  --color-fg-placeholder: var(--palette-gray-500);
}

[theme="dark"],
[data-theme="dark"] {
  --color-bg-primary: var(--palette-gray-850);
  --color-bg-secondary: var(--palette-gray-800);
  --color-bg-tertiary: var(--palette-gray-700);
  --color-fg-primary: white;
  --color-fg-secondary: white;
  --color-fg-tertiary: white;
  --color-fg-placeholder: var(--palette-gray-500);
}

:root,
[accent="blue"],
[data-accent="blue"] {
  --color-bg-accent: oklch(61.4% 0.164 255);
}

[accent="teal"],
[data-accent="teal"] {
  --color-bg-accent: oklch(60.3% 0.098 213);
}

[accent="green"],
[data-accent="green"] {
  --color-bg-accent: oklch(59.4% 0.139 147);
}

[accent="yellow"],
[data-accent="yellow"] {
  --color-bg-accent: oklch(67.4% 0.142 76);
}

[accent="orange"],
[data-accent="orange"] {
  --color-bg-accent: oklch(65.4% 0.196 42);
}

[accent="orange-ubuntu"],
[data-accent="orange-ubuntu"] {
  --color-bg-accent: oklch(64.049% 0.19406 37.743);
}

[accent="red"],
[data-accent="red"] {
  --color-bg-accent: oklch(60.3% 0.217 22);
}

[accent="pink"],
[data-accent="pink"] {
  --color-bg-accent: oklch(65.1% 0.158 352);
}

[accent="purple"],
[data-accent="purple"] {
  --color-bg-accent: oklch(52.5% 0.175 317);
}

[accent="slate"],
[data-accent="slate"] {
  --color-bg-accent: oklch(60.1% 0.037 247);
}

:root,
[density="comfortable"],
[data-density="comfortable"] {
  --page-whitespace: var(--spacing-2);
  --page-whitespace-sm: var(--spacing-1);
  --titlebar-height: var(--spacing-12);
  --sidebar-width: var(--spacing-72);
}

[density="cozy"],
[data-density="cozy"] {
  --page-whitespace: var(--spacing-1);
  --page-whitespace-sm: var(--spacing-1);
  --titlebar-height: var(--spacing-10);
  --sidebar-width: var(--spacing-64);
}

[density="compact"],
[data-density="compact"] {
  --page-whitespace: var(--spacing-1);
  --page-whitespace-sm: var(--spacing-1);
  --titlebar-height: var(--spacing-8);
  --sidebar-width: var(--spacing-60);
}

:root,
[window="active"],
[data-window="active"] {
  --color-bg-selection: color-mix(
    in srgb,
    var(--color-bg-accent) 30%,
    transparent
  );
}

[window="inactive"],
[data-window="inactive"] {
  --color-bg-selection: color-mix(
    in srgb,
    var(--palette-gray-500) 20%,
    transparent
  );
}

:root,
[animation="fluid"],
[data-animation="fluid"] {
  --transition-backdrop: 0.3s ease;
}

[animation="instant"],
[data-animation="instant"] {
  --transition-backdrop: 0s ease;
}

/* @import url('utilitarian/utilitarian.css'); */

/* Reset */

svg {
  display: block;
}

/* Base */

[theme="dark"] {
  color-scheme: dark;
}

:root {
  * {
    overflow: hidden;
  }
}

body {
  user-select: none;

  * {
    display: flex;
    flex-flow: column;
  }
}

::selection {
  background-color: var(--color-bg-selection);
}

/* Page Components */

.app {
  display: flex;
  flex-flow: row;

  height: 100dvh;
  /* min-height: 100vh; */

  background-color: var(--color-bg-primary);

  font: var(--font-text);
  color: var(--color-fg-primary);
}

.sidebar {
  background-color: var(--color-bg-secondary);

  &[variant="push"] {
    width: var(--sidebar-width);
    flex-shrink: 0;

    &:not([open]) {
      margin-left: calc(var(--sidebar-width) * -1);
    }
  }

  &[variant="overlay"] {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--sidebar-width);
    z-index: var(--hierarchy-sidebar);
    transform: translateX(-100%);
    /* transition: transform 0.3s ease; */

    ~ .sidebar_backdrop {
      position: fixed;
      inset: 0;
      background: var(--color-bg-backdrop);
      z-index: var(--hierarchy-backdrop-hidden);
      opacity: 0;
      pointer-events: none;
      transition: opacity var(--transition-backdrop);
    }

    &[open] {
      transform: translateX(0);

      ~ .sidebar_backdrop {
        z-index: var(--hierarchy-backdrop);
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .menu {
    flex-flow: row;

    flex-basis: var(--titlebar-height);

    > * {
      /* padding-block: var(--page-whitespace); */
    }

    .button_search,
    .button_hamburger {
      flex-basis: var(--titlebar-height);
    }

    .name {
      align-items: center;
      justify-content: center;

      flex: 1;

      font: var(--font-heading);
    }
  }

  .list,
  .hamburger {
    /* margin-block: var(--page-whitespace); */

    /* display: block; */

    .button {
      /* width: 100%; */

      padding-block: var(--page-whitespace-sm);
      padding-inline: var(--page-whitespace);
    }
  }

  > .list {
    * {
      &[focus] {
        background-color: var(--color-bg-click);
      }

      /* Button does its job */
      /* &:hover {
        background-color: var(--color-bg-hover);
      }

      &:active,
      &[focus] {
        background-color: var(--color-bg-click);
      } */
    }
  }
}

.main {
  display: flex;
  flex-flow: column;
  flex: 1;

  > .titlebar {
    flex-flow: row;

    flex-basis: var(--titlebar-height);

    .button {
      flex-basis: var(--titlebar-height);
    }

    > .title {
      flex: 1;
    }

    > .view {
      flex-flow: row;
    }
  }

  > .workspace {
    flex-flow: row;
    flex: 1;

    > .panel {
      display: flex;
      flex-flow: column;

      flex: 1;

      > .title {
        flex-flow: row;

        /* margin-block: calc(var(--page-whitespace) / 2); */
        /* margin-inline: var(--page-whitespace); */

        height: var(--spacing-10);

        .label {
          flex: 1;

          padding: var(--page-whitespace);
        }

        .button {
          padding: var(--page-whitespace);
        }
      }

      > .panel_process {
        flex: 1;

        .process_item {
          margin-bottom: var(--page-whitespace);

          > .title {
            flex-flow: row;

            > * {
              padding: var(--page-whitespace);
            }

            > .name {
              flex: 1;

              font: var(--font-heading);
            }
          }

          > .args {
            > .arg {
              flex-flow: row wrap;

              margin-inline: var(--page-whitespace);
              margin-bottom: calc(var(--page-whitespace) / 2);

              > .name {
                flex-grow: 1;
              }
            }

            /* show outline of elements, e.g. number + - buttons */
            overflow: visible;
            > * {
              overflow: visible;
            }
          }
        }
      }

      > .panel_input,
      > .panel_output {
        flex: 1;

        > * {
          padding: var(--page-whitespace);
        }
      }
    }
  }
}

/* Atom/Pattern Components */

.icon {
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  flex-shrink: 0;

  aspect-ratio: 1;
}

.hr {
  width: 100%;
  height: 0;

  margin-block: var(--page-whitespace-sm);

  border-bottom: solid var(--border-1) var(--color-bg-tertiary);
}

.tooltip {
  padding-block: var(--page-whitespace-sm);
  padding-inline: var(--page-whitespace);

  background-color: var(--color-bg-tooltip);
  color: var(--color-fg-tooltip);
}

.scroll {
  overflow-y: auto;
  > * {
    flex-shrink: 0;
  }
}

.menu,
.titlebar {
  flex-shrink: 0;
}

.button,
.select > .trigger,
.input,
.textarea {
  &:focus-visible {
    outline: var(--field-outline-width) solid var(--color-bg-selection);
    outline-offset: calc(var(--field-outline-width) * -1);
  }
}
/* .a,
.link,
.button,
.summary,
.input,
.textarea,
.select,
.contenteditable {
  &:focus-visible {
    outline: var(--field-outline-width) solid var(--color-bg-selection);
    outline-offset: calc(var(--field-outline-width) * -1);
  }
} */
/* a,
button,
summary,
[contenteditable="true"],
[tabindex="0"],
input,
select,
textarea {
} */

.button {
  &:has(.icon) {
    justify-content: center;
    align-items: center;
  }

  &:hover {
    background-color: var(--color-bg-hover);
  }

  &:active {
    background-color: var(--color-bg-click);
  }
}
/* .button {
  &:has(.icon){
    justify-content: center;
    align-items: center;
  }

  .icon {    
    width: var(--spacing-8);
    height: var(--spacing-8);

    border-radius: var(--radius-base);
  }

  &:hover .icon {
    background-color: var(--color-bg-hover);
  }

  &:active .icon {
    background-color: var(--color-bg-click);
  }
} */

.checkbox {
  flex-flow: row;
  align-items: center;

  padding-block: var(--page-whitespace);
  padding-inline: var(--page-whitespace-sm);
  margin-inline: var(--page-whitespace-sm);
  /* the ones after the same component */
  & + & {
    margin-inline-start: 0;
  }
  /* the ones before the same component */
  &:has(+ &) {
    margin-inline-end: 0;
  }

  > .indicator {
    width: var(--spacing-5);
    height: var(--spacing-5);

    margin-inline: var(--page-whitespace);

    /* border: solid var(--border-1); */

    border-radius: var(--radius-base);

    --outline-offset: var(--border-2);
    box-shadow: 0 0 0 var(--border-1) var(--color-fg-primary);
    :focus-visible & {
      box-shadow: 0 0 0 var(--border-1) var(--color-fg-primary),
        0 0 0 calc(var(--border-1) + var(--outline-offset))
          var(--color-bg-primary),
        0 0 0
          calc(
            var(--border-1) + var(--outline-offset) +
              var(--field-outline-width-lg)
          )
          var(--color-bg-selection);
    }
  }
}

.switch {
  justify-content: center;

  width: var(--spacing-10);
  height: var(--spacing-6);

  border-radius: var(--radius-full);

  background-color: var(--color-bg-secondary);

  &[checked] {
    background-color: var(--color-bg-accent);
  }

  transition: background var(--transition-backdrop);

  .thumb {
    width: var(--spacing-5);
    height: var(--spacing-5);
    aspect-ratio: 1;

    border-radius: var(--radius-full);

    background-color: color-mix(in srgb, var(--color-fg-primary) 80%, transparent);
    :hover > &, [checked] > & {
      background-color: var(--color-fg-primary);
    }

    --margin: var(--spacing-0\.5);

    transform: translateX(var(--margin));

    [checked] > & {
      right: 0;
      transform: translateX(calc(var(--spacing-5) - var(--margin)));
    }

    transition: transform var(--transition-backdrop);
  }
}

.select {
  align-items: end;

  > .trigger {
    flex-flow: row;

    > .label {
      flex: 1 0 auto;
    }

    > .icon_dropdown {
      padding-inline: var(--page-whitespace-sm);
    }
  }

  > .dropdown {
    z-index: var(--hierarchy-popup);

    * {
      padding-block: var(--page-whitespace-sm);
      padding-inline: var(--page-whitespace);
    }

    background: var(--color-bg-secondary);
  }
}

.input,
.number > .field {
  background: var(--color-bg-secondary);

  &::placeholder {
    color: var(--color-fg-placeholder);
  }
}

.number {
  flex-flow: row;
  overflow: visible;

  .button {
    flex-shrink: 0;

    margin-inline: var(--page-whitespace-sm);

    border-radius: var(--radius-full);

    /* background: color-mix(in oklab, var(--color-bg-secondary) 50%, transparent); */

    &:focus-visible {
      outline: var(--field-outline-width-lg) solid var(--color-bg-selection);
      outline-offset: calc(var(--field-outline-width) * -1);
    }
  }
}

.textarea {
  padding: var(--page-whitespace);

  flex: 1;
  flex-basis: 100%;
  min-height: var(--spacing-32);

  overflow: auto;

  font: var(--font-code);
}

.radio {
  flex-basis: 100%;

  > .item {
    flex-flow: row;

    > * {
      padding-inline: var(--page-whitespace);
      padding-block: calc(var(--page-whitespace) / 2);
    }
    margin-block: calc(var(--page-whitespace) / 2);
    /* the ones after the same component */
    & + & {
      margin-block-start: 0;
    }
    /* the ones before the same component */
    &:has(+ &) {
      margin-block-end: 0;
    }

    > .indicator {
      justify-content: center;
      align-items: center;

      width: var(--spacing-10);
      height: var(--spacing-10);

      > .icon_radio {
        justify-content: center;
        align-items: center;

        width: var(--spacing-4);
        height: var(--spacing-4);

        border-radius: var(--radius-full);

        --outline-offset: var(--border-2);
        box-shadow: 0 0 0 var(--border-1) var(--color-fg-primary);
        :focus-visible & {
          box-shadow: 0 0 0 var(--border-1) var(--color-fg-primary),
            0 0 0 calc(var(--border-1) + var(--outline-offset))
              var(--color-bg-primary),
            0 0 0
              calc(
                var(--border-1) + var(--outline-offset) +
                  var(--field-outline-width-lg)
              )
              var(--color-bg-selection);
        }

        > .icon_radio_checked {
          width: var(--spacing-2\.5);
          height: var(--spacing-2\.5);

          border-radius: var(--radius-full);

          background-color: var(--color-fg-primary);
        }
      }
    }

    > .label {
      flex-flow: column;
      justify-content: center;

      flex: 1;

      padding-left: 0; /* collapse whitespace */
    }
  }
}

.popup {
  justify-content: center;
  align-items: center;

  z-index: var(--hierarchy-popup);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &[open] {
    ~ .backdrop {
      z-index: var(--hierarchy-backdrop);
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  background: var(--color-bg-backdrop);
  z-index: var(--hierarchy-backdrop-hidden);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-backdrop);
}

.table {
  overflow: auto;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  > .table_content {
    display: table;

    border-collapse: collapse;

    .thead {
      display: table-header-group;
    }

    .tbody {
      display: table-row-group;
    }

    .tr {
      display: table-row;
    }

    .td,
    .th {
      display: table-cell;

      min-width: var(--spacing-16);
    }

    /* .th {
      position: sticky;
    } */
  }
}

.graph {
  .grid {
    z-index: var(--hierarchy-graph-grid);
  }

  .line {
    z-index: var(--hierarchy-graph-line);
  }

  .axis {
    z-index: var(--hierarchy-graph-axis);
  }

  .point {
    z-index: var(--hierarchy-graph-point);
  }

  .label {
    z-index: var(--hierarchy-graph-label);
  }
}

.about {
  width: var(--max-width-sm);
  max-width: var(--max-width-full);

  max-height: calc(100vh - var(--titlebar-height) * 2);

  background-color: var(--color-bg-primary);

  .titlebar {
    flex-flow: row;
    position: relative;

    height: var(--titlebar-height);

    .title {
      flex: 1;

      font-weight: bold;

      text-align: center;
      justify-self: center;
      align-self: center;
    }

    .button_close {
      position: absolute;
      right: 0;

      width: var(--titlebar-height);

      justify-self: flex-end;
    }
  }

  .info {
    margin-block: var(--spacing-4);

    .about_icon {
      align-items: center;

      > * {
        width: var(--spacing-32);
        height: var(--spacing-32);
      }

      svg {
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
      }
    }

    .name {
      text-align: center;

      font: bold var(--text-3xl) var(--typeface-sans);
    }

    .author {
      text-align: center;

      font: var(--text-base) var(--typeface-sans);
    }

    .version {
      align-self: center;
      width: fit-content;

      margin-block: var(--page-whitespace);
      padding-block: var(--spacing-1);
      padding-inline: var(--spacing-5);
      border-radius: var(--radius-full);

      font: bold var(--text-sm) var(--typeface-sans);

      background-color: color-mix(
        in oklab,
        var(--color-bg-accent) 15%,
        transparent
      );
      color: color-mix(
        in oklab,
        var(--color-bg-accent) 50%,
        var(--color-fg-primary)
      );
    }
  }

  .links {
    margin-block: var(--spacing-4);

    .button {
      flex-flow: row;

      padding-block: var(--page-whitespace);
      padding-inline: var(--spacing-8);

      .label {
        flex: 1;
      }
    }
  }
}

/* Testing */

.graph {
  width: 100%;
  height: 100%;

  background-color: khaki;

  .line {
    stroke: black;
  }

  .grid .line {
    stroke: lightyellow;
  }

  .label {
  }

  .polygon {
    fill: orange;
  }
}
