/* Base */

[theme="dark"] {
  color-scheme: dark;
}

body {
  user-select: none;

  * {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

::selection {
  background-color: var(--color-bg-selection);
}

/* Components */

.a,
.link,
.button,
.summary,
.input,
.textarea,
.select,
.contenteditable {
  &:focus-visible {
    outline: var(--border-2) solid var(--color-bg-selection);
  }
}
/* a,
button,
summary,
[contenteditable="true"],
[tabindex="0"],
input,
select,
textarea {
} */

.app {
  display: flex;
  flex-direction: row;

  min-height: 100vh;

  background-color: var(--color-bg-primary);

  font: var(--font-text);
  color: var(--color-fg-primary);
}

.sidebar {
  overflow-y: auto;

  background-color: var(--color-bg-secondary);

  &[variant="push"] {
    width: var(--spacing-64);
    flex-shrink: 0;

    &:not([visible]) {
      margin-left: calc(var(--spacing-64) * -1);
    }
  }

  &[variant="overlay"] {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--spacing-64);
    z-index: var(--hierarchy-sidebar);
    transform: translateX(-100%);
    /* transition: transform 0.3s ease; */

    ~ .backdrop {
      position: fixed;
      inset: 0;
      background: var(--color-bg-backdrop);
      z-index: var(--hierarchy-invisible-backdrop);
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
    }

    &[visible] {
      transform: translateX(0);

      ~ .backdrop {
        z-index: var(--hierarchy-backdrop);
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .menu {
    flex-direction: row;

    padding: var(--spacing-0\.5);
    flex-basis: var(--spacing-8);

    .search, .hamburger {
      width: var(--spacing-8);
      height: var(--spacing-8);

      overflow: hidden;
    }

    .name {
      flex-grow: 1;
      align-items: center;      

      font: var(--font-heading);
    }
  }

  .list * {
    width: 100%;
    display: block;

    padding-inline: var(--spacing-0\.5);

    &:hover,
    &:focus-visible,
    &[focus] {
      background-color: var(--color-bg-tertiary);
    }
  }
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  .editor {
    display: flex;
    flex-direction: column;

    flex: 1;

    .title {
      margin: var(--spacing-0\.5);
    }

    .textarea {
      margin: var(--spacing-0\.5);
      padding: var(--spacing-2);

      flex-grow: 1;

      overflow: auto;
    }
  }
}
