[Unit]
Description=Autostart
After=network.target

[Service]
Type=simple
User=fira
ExecStart=/bin/zsh -ic 'b {autostart_path}'
Restart=on-failure

[Install]
WantedBy=multi-user.target
