[Unit]
Description=journal
After=graphical-session.target

[Service]
ExecStart=/home/fira/Documents/f/journal/run.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
