html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

#wallpaper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black center/cover no-repeat;
  z-index: -1;
}

#omnibox {
  position: absolute;
  left: 50%;
  top: 38.2%; /* golden division */
  transform: translate(-50%, -50%);
  width: 50%;
  font-size: 2em;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  text-align: center;
  caret-color: white;
}