@import "./design/utilitarian/utilitarian.styl"

myselector = body

// select. outline.

{myselector}
  background-color var(--color-bg-primary)
  background-color light-blue
  // background-color foo-ba
