// mymixin
//   background-color lightblue

// body
//   background-color var(--color-bg-primary)
//   mymixin

// // select. outline.

// Definition
mymixin()
  background-color var(--color-bg-primary)

body
  mymixin()
