.pre::-webkit-scrollbar {
  width: 0.5rem;
}

.pre::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
}

.pre::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.pre::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.pre {
  position: fixed;
  inset: 0;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding-inline: 15%;
  padding-top: 3rem;
  background: linear-gradient(to bottom, #f5efdd 70%, #fef2e9 100%);
  color: #000000;
  font-size: 1.25rem;
  font-family: Lato, Ubuntu, Adobe Kaiti Std, FZKai-Z03, sans-serif;
  line-height: 1.625;
  overflow-x: hidden;
  overflow-y: auto;
}

@media (min-width: 640px) {
  .pre {
    padding-inline: 5%;
  }
}

@media (min-width: 768px) {
  .pre {
    padding-inline: 10%;
  }
}

.pre :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  line-height: 1.25;
  background: linear-gradient(to bottom, #65bce5, #57b6e3, #91acd5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-family: EB Garamond, Cormorant, Adobe Kaiti Std, FZKai-Z03,
    Noto Serif CJK SC, serif;
  font-style: italic;
}

.pre h1 {
  font-size: 2.25rem;
}

.pre h2 {
  font-size: 1.875rem;
}

.pre h3 {
  font-size: 1.5rem;
}

.pre p {
  margin-block: 1rem;
}

.pre strong {
  font-weight: bold;
}

.pre em {
  font-style: italic;
}

.pre a {
  color: #57b6e3;
  text-decoration: none;
}

.pre a:hover {
  text-decoration: underline;
}

.pre :is(ul, ol) {
  margin-block: 1rem;
  padding-left: 2rem;
}

.pre ul {
  list-style-type: disc;
}

.pre ul.contains-task-list {
  list-style-type: none;
}

.pre ol {
  list-style-type: decimal;
}

.pre li {
  margin-block: 0.5rem;
}

.pre pre code {
  display: block;
  margin-inline: 0;
  margin-block: 1.5rem;
  padding: 1rem;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  overflow: auto;
  color: #000000;
}

.pre code {
  margin-inline: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-family: "Fira Code", monospace;
  background-color: rgba(0, 0, 0, 0.1);
}

.pre img {
  display: block;
  margin-block: 1.5rem;
  max-width: 100%;
  height: auto;
}

.pre blockquote {
  margin-block: 2rem;
  padding-inline: 2.5rem;
  padding-block: 1rem;
  background-color: rgba(101, 188, 229, 0.1);
  border-radius: 1rem;
  border-left: 4px solid #65bce5;
}

.pre table {
  margin-block: 1.5rem;
  width: 100%;
  border-collapse: collapse;
}

.pre :is(th, td) {
  padding-inline: 0.25rem;
  padding-block: 0.5rem;
  border: 1px solid #65bce5;
}

.pre details {
  /* margin-block: 1.5rem;
  padding-inline: 0;
  padding-block: 0.5rem;
  border-radius: 1rem; */
}

.pre summary {
  display: inline;
  padding-inline: 0.5rem;
  /* padding-block: 0.5rem; */
  font-size: 1rem;
  font-weight: 700;
  list-style-type: none;
  border-radius: 9999px;
  color: #414E85;
  user-select: none;
  font-family: Playfair, serif;
  font-size: 1.5rem;
}

.pre .MathJax *,
.pre .katex * {
  font-family: "XITS Math", Adobe Kaiti Std, FZKai-Z03, math !important;
}

.pre .MathJax text,
.pre .katex text {
  scale: 1.1;
}
