[Unit]
Description=Launch
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/sudo -u 'fira' -i '/usr/bin/zsh' -ic 'launch'
Restart=on-failure

[Install]
WantedBy=default.target
